<div class="form-list" id="payment_form_<?php echo $this->getMethodCode(); ?>" style="display:none;">
    <img src="http://blumonpay.com/images/bp_blue.png" width="200px"/>
    
    <input type="hidden" name="payment[momentum_token]" value="<?php echo $this->getAuthToken(); ?>"/>    
    <div class="input-box">
        <label>Holder Name*</label>
        <span>
            <input type="text" name="payment[cc_owner]" class="input-text required-entry form-control" value="" />
        </span>
    </div>
    <div class="input-box">
        <label>Card Number*</label>
        <span>
            <input type="text" name="payment[cc_number]" class="input-text validate-cc-number validate-cc-type required-entry form-control" maxlength="16" value="" />
        </span>
    </div>
    <div class="input-box">
        <div class="v-fix">
            <label>Expiration Month*</label>
            <select id="<?php echo $this->getMethodCode(); ?>_expiration" name="payment[cc_exp_month]" class="month validate-cc-exp required-entry form-control">
                <?php $_ccExpMonth = $this->getInfoData('cc_exp_month') ?>
                <?php foreach ($this->getCcMonths() as $k=>$v): ?>
                    <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                <?php endforeach ?>
            </select>
        </div>
        <div class="v-fix">
            <label>Expiration Year*</label>
            <?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
            <select id="<?php echo $this->getMethodCode(); ?>_expiration_yr" name="payment[cc_exp_year]" class="year required-entry form-control">
                <?php foreach ($this->getCcYears() as $k=>$v): ?>
                    <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                <?php endforeach ?>
            </select>
        </div> 
    </div>
    <div class="input-box">
        <label>Security Code*</label>
        <span>
            <input type="text" class="input-text cvv required-entry validate-cc-cvn" id="<?php echo $this->getMethodCode(); ?>_cc_cid" name="payment[cc_cid]" maxlength="4" />
        </span>
    </div>
</div>
<div>
    <?php echo $this->getMethod()->getConfigData('message');?>
</div>